/* https://github.com/ikimoreno24-cell/txantioia-flex */
section {
  display: flex;
  flex-wrap: wrap;      
  gap: 20px;             
  padding: 20px;
}


article {
  flex: 1 1 200px;       
  min-width: 200px;      
  border: 1px solid #ccc;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 6px;
}


article {
  max-width: 350px;     
}
